# Ignore node_modules - dependencies are installed in the container
node_modules/

# Ignore Docker-related files
.dockerignore
dockerfile
docker-compose.yml
docker-compose-sqlite.yml

# Ignore git repository files
.git
.gitignore